  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Palacio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!--Usamos elemento RouterLink para las rutas y routerLinkActive para estilo al presionar-->
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['inicio']" routerLinkActive="router-link-active" >Inicio</a>
          <a class="nav-link" [routerLink]="['sobreMi']" routerLinkActive="router-link-active" >Sobre Mi</a>
          <a class="nav-link" [routerLink]="['contacto']" routerLinkActive="router-link-active" >Contacto</a>
          <a class="nav-link" [routerLink]="['proyectos']" routerLinkActive="router-link-active" >Proyectos</a>
        </div>
      </div>
    </div>
  </nav>
  
