
<div class="d-flex flex-column align-items-center justify-content-center vh-100 mb-4" id="contacto">     

    <h1 class="">Redes</h1>

    <div class="">
        <!--BUSCAR ICONO LINKEDIN, GITHUB-->
      <a  href="https://www.Linkedin.com/in/diego-nahuel-palacio" target="blanck"><img  class="linkedin" style="width: 100px;" src="../assets/iconLinkedin.svg"></a>
      <a  href="https://github.com/Diego-Palacio" target="blanck"> <img class="" style="width: 100px;" src="../assets/icongithub.svg"></a>
    </div>

     <button class="mt-4">Descargar CV</button>

</div>    