<!-- Aca deberia de hacer imports, usar variables..Para tener una sola card y que desde componente proyecto le entregue los datos-->


      <div class="col"> 
        <div class="card d-flex flex-row" style="border:1px solid black; border-radius:14px;">
          <img src="/assets/Diego.jpeg" class="card-img-top img-fluid " style="width: 350px; heigth:350px" alt="proyecto variable">
          <div class="card-body">
            <h5 class="card-title">{{nombreProyecto}}</h5>
            <p class="card-text">{{infoProyecto}}</p> 
          </div>
        </div>
      </div>
