<!-- Aca deberia de hacer imports, usar variables..Para tener una sola card y que desde componente proyecto le entregue los datos-->


      <div class="col"> 
        <div class="text-center" style=" border:1px solid black; border-radius:14px; width: 250px;height:250px;">
          <img src="/assets/Diego.jpeg" class="card-img-top  " alt="proyecto variable" style="border-radius: 14px;">
          <div class="card-body p-2" style="word-wrap: break-word;">
            <h5 class="card-title" >{{nombreProyecto}}</h5>
            <p class="card-text" >{{infoProyecto}}</p> 
          </div>
        </div>
      </div>
